

Dataset/**

!Dataset/.gitkeep

!Dataset/FILE_LIST.txt



# Common large/binary artifacts

*.nii

*.nii.gz

*.mgz

*.mat

*.npy

*.npz

*.pt

*.pth

*.h5

*.hdf5

*.zip

*.tar

*.tar.gz

*.7z



# Python/build cruft

__pycache__/

*.py[cod]

*.egg-info/

.eggs/

.build/

dist/

.ipynb_checkpoints/



# OS/editor

.DS_Store

Thumbs.db

.vscode/

.idea/

